@use "sass:list";
@use "sass:map";
@use "./_reset.scss" as *;
@use "./_kis-ds.scss" as *;
@use "./_mixins.scss" as *;
@use "./_prism.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--color-white);
	color: var(--color-black);
	font: var(--text-size-0)/ 1.5 inter, sans-serif;
	letter-spacing: 0.01vw;
	max-width: var(--breakpoint-desktop);
}

.wrapper {
	max-width: 80rem;
	margin: 0 auto;
}

/* Headings */

h1, h2, h3, h4 {
	a {
		color: var(--color-black);
		&:is(:hover, :focus, .active) {
			color: var(--color-black);
			text-decoration: none;
		}
		&:focus {
			outline: 1px solid var(--color-blue-primary);
		}
	}
}

h1 {
	font: 500 var(--text-size-5)/ 1.2 visby, sans-serif;
	border: 1px solid var(--color-blue-accent);
	border-width: 0 0 0 var(--space-3xs);
	margin: 0 0 var(--space-s) 0;
	padding: var(--space-3xs) var(--space-s);
}

h2 {
	font: 500 var(--text-size-3)/ 1.2 visby, sans-serif;
	margin: 0 0 var(--space-xs);
}

h3 {
	font: 500 var(--text-size-2)/ 1.3 visby, sans-serif;
	margin: 0 0 var(--space-2xs);
}

h4 {
	font: 500 var(--text-size-1)/ 1.3 visby, sans-serif;
	margin: 0 0 var(--space-3xs);
}

p {
	margin: 0 0 var(--space-m);
	line-height: 1.5;
}

hr {
	border-width: 1px 0 0 0;
	border-color: var(--color-gray-accent);
	margin: 0 0 var(--space-m);
}

img.responsive {
	width: 100%;
	height: auto;
}

[aria-current] {
	background-color: var(--color-white);
}

a {
	color: var(--color-blue-primary);
	&:is(:hover, :focus, .active)  {
		color: var(--color-blue-primary);
		text-decoration: underline var(--color-blue-accent);
		text-underline-offset: 3px;
		text-decoration-thickness: 2px;
	}
	&:focus  {
		outline: 1px solid var(--color-blue-primary);
	}
	> img:only-child {
	  display: block;
	}
}

/* Page : main structure */

main {
	padding: var(--space-s-m);
}


.main-aside {
	@include mq(md) {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
}

header.global {
	padding: 0 0 var(--space-xs);
}

footer.global {
	border-top: solid 1px #bbb;
	border-bottom: solid var(--space-3xs) var(--color-blue-primary);
	margin: var(--space-s) 0 0 0;
	padding: var(--space-s-m);
	display: flex;
	justify-content: space-between;
}

img.logo {
	display: block;
	margin: 0 auto;
	max-width: 90px;
}

nav.global {
	border-bottom: solid 1px #bbb;
	border-top: solid var(--space-3xs) var(--color-blue-primary);
	padding: var(--space-s-m);

	ul {
		display: block;
		margin: 0px auto;
		padding: var(--space-xs) 0 0 0;
		max-width: fit-content;
		@include mq(md) {
			margin: 0px;
			padding: 0;
		}
		li:first-child {
			margin: 0;
		}
		li {
			margin: 0 0 0 var(--space-m);
			a {
				font-size: var(--text-size-0);
			}
		}
	}
	@include mq(md) {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

nav.pagination {
	ol {
		margin: 0 auto;
		li a {
			border-radius: 50%;
			display: inline-block;
			padding: var(--space-3xs);
			margin: 0 var(--space-2xs);
		}
	}
}

aside {
	text-align: center;
	padding: var(--space-s-m);
}

svg.social-icon {
	height: var(--space-xl-l);
	width: var(--space-xl-l);
}

nav.social {
	margin: 0 auto;
	ul li {
		padding: 0 var(--space-2xs) 0;
	}
}

pre code {
	font: var(--text-size-0)/ 1.5 robotomono sans-serif;
}

article {
	img {
 		border: solid 2px var(--color-black);
		border-radius: var(--space-3xs);
	}
	.tags {
		text-align: right;
		color: var(--color-dark-orange);
		font: 600 var(--text-size--1)/ 1.5 inter, sans-serif;
		margin: 0 0 var(--space-s);
	}
}

time {
	color: var(--color-dark-orange);
	display: block;
	font: 600 var(--text-size--1)/ 1.5 inter, sans-serif;
	margin: 0 0  var(--space-3xs);
}

ul.stack {
  align-items: flex-start;
	align-content: center;
  display: flex;
  flex-direction: column;
	& li {
		margin: 0 0 var(--space-3xs);
	}
}

ul.square {
	list-style: square outside none;
	margin: var(--space-s) 0 var(--space-s) var(--space-s);
	& li {
		display: list-item;
		margin: 0 0 var(--space-2xs);
	}
}

ul.icon-list {
	list-style: sqaure inside none;
	margin: var(--space-s) var(--space-s) var(--space-m);
	li {
		display: flex;
		margin: 0 0 var(--space-xs);
		svg {
			margin-right: var(--space-2xs);
			vertical-align: middle;
		}
	}
}

strong {
	font-weight: 600;
}

.intro {
	font-size: var(--text-size-3);
	margin : 0 0 var(--space-l) 0;
}

.byline {
	display: flex;
	font-size: var(--text-size--1);
	text-align: right;
	padding: 0 0 var(--space-3xs);
}

.profile-image img {
	border: 2px solid var(--color-blue-primary);
	border-radius: 50%;
	margin: 0 0 var(--space-s);
}

.blogroll {
	.summary {
		border-bottom: 1px solid var(--color-gray-primary);
		margin: 0 0 var(--space-s);
		p {
			margin: 0 0 var(--space-3xs);
		}
		.tags {
			text-align: right;
			color: var(--color-dark-orange);
			font: 600 var(--text-size--1)/ 1.5 inter, sans-serif;
			margin: var(--space-s) 0;
		}
		@include mq(lg) {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr 1fr;
		}
	}
}

.portfolio {
	h3 {
		font-size: var(--text-size-1);
	}
	.logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		@include mq(lg) {
			flex-direction: column;
		}
		img {
			margin: var(--space-xs) 0;
			width: 12.5rem;
		}
	}
	section {
		padding: var(--space-xs) 0;
		border-bottom: 1px solid var(--color-gray-primary);
		margin-bottom:  var(--space-m);
		@include mq(lg) {
			display: grid;
			gap: var(--space-m);
			grid-template-columns: auto auto;
			align-items: start;
		}
	}
}

p.home-intro {
		font: var(--text-size-3)/ 1.3 inter, sans-serif;

}

